<div>
  <mat-form-field class="full-width">
    <input matInput
           placeholder="Фамилия"
           [(ngModel)]="user.surname"
           name="surname"
           [formControl]="onlyRusTextFormControl"
           [disableControl]="!type.surname">
    <mat-error *ngIf="onlyRusTextFormControl.hasError('pattern') && !onlyRusTextFormControl.hasError('required')">
      Фамилия должна содержать только <strong>русские буквы</strong>
    </mat-error>
    <mat-error *ngIf="onlyRusTextFormControl.hasError('required')">
      Фамилия <strong>обязательна</strong>
    </mat-error>
    <i
      (click)="copyField(copy.surname)" *ngIf="copy.surname" class="material-icons">content_copy</i>
  </mat-form-field>

  <mat-form-field class="full-width">
    <i
      *ngIf="copy.doc" (click)="copyField(copy.doc)" class="material-icons">content_copy</i>
    <mat-select
            [(ngModel)]="user.doc"
            name="doc"
            placeholder="Тип документа"
            [disabled]="!type.doc">
      <mat-option *ngFor="let option of optionDoc" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  class="full-width">
    <input [(ngModel)]="user.date"
           name="date"
           matInput
           placeholder="Дата выдачи"
           [formControl]="dateFormControl"
           [disableControl]="!type.date"
           dropSpecialCharacters="false"
           mask="00.00.0000">       
    <mat-error *ngIf="!dateFormControl.hasError('required') && dateFormControl.hasError('dateMin')">
      Дата должна быть <strong>позднее 01.01.1991</strong>
    </mat-error>
    <mat-error *ngIf="!dateFormControl.hasError('required') && dateFormControl.hasError('dateInvalid')">
      Не верный формат <strong>(ДД.ММ.ГГГГ)</strong> или дата <strong>не корректна</strong>
    </mat-error>
    <mat-error *ngIf="dateFormControl.hasError('required')">
      Дата <strong>обязательна</strong>
    </mat-error>
    <i
      *ngIf="copy.date" (click)="copyField(copy.date)" class="material-icons">content_copy</i>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input [(ngModel)]="user.code"
           name="code"
           matInput
           placeholder="Код подразденения"
           [formControl]="onlyNumberFormControl"
           [disableControl]="!type.code"
           mask=000-000>
    <mat-error *ngIf="onlyNumberFormControl.hasError('pattern') && !onlyNumberFormControl.hasError('required')">
      Код должн содержать только <strong>цифры</strong>
    </mat-error>
    <mat-error *ngIf="onlyNumberFormControl.hasError('required')">
      Код <strong>обязателен</strong>
    </mat-error>
    <i
      *ngIf="copy.code" (click)="copyField(copy.code)" class="material-icons">content_copy</i>
  </mat-form-field>
</div>
